---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: {{ .Values.image.repository }}{{ .Values.image.tag }}
        args:
        - --source=service
        - --source=ingress
        - --domain-filter={{ .Values.domain }}
        - --provider={{ .Values.provider }}
        - --registry=txt
        - --txt-owner-id=my-identifier